div{
  height: 200px/*hauteur des div*/
}
li{
  list-style: none; /*pour enlever les puces*/
}
img{
  border-radius: 100%;/*arrondis les contours de l'image*/
  width: 200px
}
#container{
  display: flex;/*permet aux div d'être disposés de façon horizontal*/
  flex-wrap: wrap;/*autorise les div à revenir à la ligne s'il n'y a plus d'espace*/
}
.photo{
    z-index: 1;/*fixe cette div audessus des autres div*/
  width: 30%;
  background-color: #F781B
}
.titre{
    z-index: 1;
  width: 40%;
  background-color: #F781B
}
.presentation{
    z-index: 1;
  width: 30%;
  background-color:  #F781B
}
.experiences{
  height: 400px;
  width: 30%;
  background-color: #F6CED8/*couleur de fond*/
}

  .formation{
    height: 400px;/*hauteur de la div*/
    width: 40%;/*largeur de la div*/
    background-color: #F6CED8
  }

    .loisir{
      height: 400px;
      width: 30%;
      background-color:    #f5ea41

    }

    .competences{
      height: 300px;
      width: 100%;
      background-color:  #41abf5
    }
    .left{
        position: relative;
    	float: left;
      width: 50%
    }
    .right{
        position: relative;
    	float: right;
      width: 50%
    }
    h1{
      font-style: HelenaScript ES ;
      color: blue
    }
    h2{
      text-align: center;
      color: cursive;
      font-style: Helvetica;
      font-size: 32px

    }
    	/*background-color: #F8C471;*/
